#core
pandas
plotly_express
streamlit
nbformat
tabulate
numpy
streamlit-extras

# Core LangChain e Google Gemini (o agente de execução)
langchain
langchain-core
langchain-community
langchain-google-genai

langchain-experimental
langgraph